.subpageBody *,
.subpageBody *::before,
.subpageBody *::after {
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
		 	-ms-box-sizing: border-box;
			 -o-box-sizing: border-box;
			 		box-sizing: border-box;
}

.subpageBody {
	height: 100%;
}


/* Fonts */

.subpageContentSectionTitle {
	font-family: "Roboto", "Montserrat", "Avenir Next", "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.subpageContentSectionParagraph {
	font-family: "Open Sans", "Avenir Next", "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* Colours */

.subpageContentSectionTitle {
	color: #ff3264;
}

.subpageContentSectionParagraph {
	color: #222222;
}


.subpageBody header {
	visibility: hidden;
	opacity: 0;
	background: rgba(255, 255, 255, 0.9);
	border-bottom: 1px solid #ebebeb;
	-webkit-animation-name: pdg-opacity-fadein;
		 -moz-animation-name: pdg-opacity-fadein;
			-ms-animation-name: pdg-opacity-fadein;
			 -o-animation-name: pdg-opacity-fadein;
					animation-name: pdg-opacity-fadein;
}

.subpageWhiteBGLayer {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 2;
	-webkit-animation-name: pdg-opacity-fadeout;
		 -moz-animation-name: pdg-opacity-fadeout;
			-ms-animation-name: pdg-opacity-fadeout;
			 -o-animation-name: pdg-opacity-fadeout;
					animation-name: pdg-opacity-fadeout;
}

.subpageBody header,
.subpageWhiteBGLayer {
	-webkit-animation-fill-mode: forwards;
		 -moz-animation-fill-mode: forwards;
			-ms-animation-fill-mode: forwards;
			 -o-animation-fill-mode: forwards;
					animation-fill-mode: forwards;
	-webkit-animation-duration: 0.8s;
		 -moz-animation-duration: 0.8s;
			-ms-animation-duration: 0.8s;
			 -o-animation-duration: 0.8s;
					animation-duration: 0.8s;
	-webkit-animation-delay: 0.2s;
		 -moz-animation-delay: 0.2s;
			-ms-animation-delay: 0.2s;
			 -o-animation-delay: 0.2s;
					animation-delay: 0.2s;
	-webkit-animation-timing-function: linear;
		 -moz-animation-timing-function: linear;
			-ms-animation-timing-function: linear;
			 -o-animation-timing-function: linear;
					animation-timing-function: linear;
}

.subpageContentSection * {
	-webkit-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;
}

.subpageContentSection {
	width: 100%;
	display: table;
	border-bottom: 1px solid #ebebeb;
}

.subpageContentSection:nth-of-type(even) {
	background-color: #f5f5f5;
}

.subpageContentSectionOuterWrapper {
	font-size: 1.2rem;
	display: table-cell;
	vertical-align: middle;
}

.subpageContentSectionInnerWrapper {
	margin-left: auto;
	margin-right: auto;
	padding-top: 4em;
	padding-bottom: 4em;
	width: 70%;
	float: right;
}

.subpageContentSectionTitle {
	font-size: 3em;
	font-weight: 100;
	margin-bottom: 1em;
}

.subpageContentSectionParagraph {
	font-weight: 400;
}

.subpageNavTitle {
	position: fixed;
	bottom: 0;
	right: 0;
}


/* Media queries */

@media screen and (max-width: 40em) {
	.subpageBody header {
		position: absolute;
		background: #fff;
	}

	.subpageContentSectionInnerWrapper {
		width: 100%;
		float: none;
	}
}


.subpageAnimated header {
	visibility: visible;
	opacity: 1;
}

.subpageAnimated .subpageWhiteBGLayer {
	display: none;
	background-color: transparent;
}

.subpageAnimated header,
.subpageAnimated .subpageWhiteBGLayer {
	-webkit-animation: none;
		 -moz-animation: none;
			-ms-animation: none;
			 -o-animation: none;
					animation: none;
}

.subpageLoading *,
.subpageLoading *::before,
.subpageLoading *::after {
	-webkit-animation: none !important;
		 -moz-animation: none !important;
			-ms-animation: none !important;
			 -o-animation: none !important;
					animation: none !important;
}
