.subpageBody {
	height: 100%;
}


/* Fonts */

.subpageContentSectionTitle {
	font-family: "Ubuntu", "Avenir Next", "Montserrat", "Avenir Next", "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.subpageContentSectionParagraph {
	font-family: "Ubuntu", "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* Colours */

.subpageContentSectionTitle {
	color: #ff3264;
}

.subpageContentSectionParagraph {
	color: #222222;
}

.subpageContentSection:nth-of-type(even) {
	background-color: #f5f5f5;
}


.subpageWhiteBGLayer {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 2;
	-webkit-animation-name: pdg-opacity-fadeout;
		 -moz-animation-name: pdg-opacity-fadeout;
			-ms-animation-name: pdg-opacity-fadeout;
			 -o-animation-name: pdg-opacity-fadeout;
					animation-name: pdg-opacity-fadeout;
}

.subpageBody header,
.subpageWhiteBGLayer {
	-webkit-animation-fill-mode: forwards;
		 -moz-animation-fill-mode: forwards;
			-ms-animation-fill-mode: forwards;
			 -o-animation-fill-mode: forwards;
					animation-fill-mode: forwards;
	-webkit-animation-duration: 0.8s;
		 -moz-animation-duration: 0.8s;
			-ms-animation-duration: 0.8s;
			 -o-animation-duration: 0.8s;
					animation-duration: 0.8s;
	-webkit-animation-delay: 0.2s;
		 -moz-animation-delay: 0.2s;
			-ms-animation-delay: 0.2s;
			 -o-animation-delay: 0.2s;
					animation-delay: 0.2s;
	-webkit-animation-timing-function: linear;
		 -moz-animation-timing-function: linear;
			-ms-animation-timing-function: linear;
			 -o-animation-timing-function: linear;
					animation-timing-function: linear;
}

.subpageBody header,
.subpageContentSection {
	font-size: 0.95em;
}

.subpageBody header {
	height: 7em;
	visibility: hidden;
	opacity: 0;
	background: rgba(255, 255, 255, 0.9);
	border-bottom: 1px solid #ebebeb;
	-webkit-animation-name: pdg-opacity-fadein;
		 -moz-animation-name: pdg-opacity-fadein;
			-ms-animation-name: pdg-opacity-fadein;
			 -o-animation-name: pdg-opacity-fadein;
					animation-name: pdg-opacity-fadein;
}

.subpageContentSection {
	min-height: calc(100% - 7em);
	width: 100%;
	display: table;
	border-bottom: 1px solid #ebebeb;
}

.subpageContentSection:first-of-type {
	margin-top: 7em;
}

.subpageContentSection * {
	-webkit-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;
}

.subpageBody header h1 {
	width: 7.5em;
	height: 5.25em;
	left: 5%;
	top: 0.9em;
}

.subpageBody .menuBtn,
.subpageBody .mainNavBackground,
.subpageBody .pageContentBackground {
	right: 5%;
	top: 0.8em;
}

.subpageBody .menuBtn span,
.subpageBody .menuBtn span::before,
.subpageBody .menuBtn span::after {
	height: 5px;
}

.subpageBody .menuBtn span::before {
	top: -11px;
}

.subpageBody .menuBtn span::after {
	bottom: -11px;
}

.subpageBody .menuBtn.is-active span::before {
  top: 0;
}

.subpageBody .menuBtn.is-active span::after {
  bottom: 0;
}

.subpageContentSectionOuterWrapper {
	font-size: 1.2rem;
	display: table-cell;
	vertical-align: middle;
}

.subpageContentSectionInnerWrapper {
	margin-left: auto;
	margin-right: auto;
	padding-top: 2em;
	padding-bottom: 4em;
	padding-right: 5%;
	width: 45em;
	float: right;
}

.subpageContentSectionTitle {
	font-size: 2.5em;
	font-weight: 400;
	margin-bottom: 0.6em;
}

.subpageContentSectionParagraph {
	font-size: 1em;
	font-weight: 300;
	line-height: 1.8em;
	margin-bottom: 1.2em;
}

.subpageContentSectionParagraph:last-of-type {
	margin-bottom: 2em;
}

.subpageNavTitle {
	position: fixed;
	bottom: 0;
	right: 0;
}


/* Media queries */

@media screen and (max-width: 40em) {
	.subpageBody header {
		position: absolute;
		background: #fff;
		border: none;
	}

	.subpageBody .menuBtn {
		position: fixed;
	}

	.subpageContentSectionInnerWrapper {
		width: 100%;
		float: none;
	}
}


.subpageAnimated header {
	visibility: visible;
	opacity: 1;
}

.subpageAnimated .subpageWhiteBGLayer {
	display: none;
	background-color: transparent;
}

.subpageAnimated header,
.subpageAnimated .subpageWhiteBGLayer {
	-webkit-animation: none;
		 -moz-animation: none;
			-ms-animation: none;
			 -o-animation: none;
					animation: none;
}

.subpageLoading *,
.subpageLoading *::before,
.subpageLoading *::after {
	-webkit-animation: none !important;
		 -moz-animation: none !important;
			-ms-animation: none !important;
			 -o-animation: none !important;
					animation: none !important;
}
